<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    {%- seo -%}
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}" />
    <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}" />
  </head>
  <body>
    {{ content }}
  </body>
  </html>


